
body {
  font-family: 'Poppins', sans-serif; /* если используете Poppins */
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
.container {
  max-width: 1300px;      !* или 1200px, как вам нужно *!
  margin: 0 auto;        !* центрирует по горизонтали *!
  padding: 0 20px;       !* небольшие боковые отступы *!
  box-sizing: border-box;
}*/
